*{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 22px;
}
.navbar-default{
	padding: 40px 0;
	margin-bottom: 0;
	box-sizing: border-box;
	background-color: #f7f7f7;
	border:none;
	text-align: center;
}
.header_menu{
	display: none;
}
.header_menu .group{
	padding: 25px 0;
	border: 3px solid #e4e4e2;
	text-align: center;
}
.header_menu li{
	display: inline;
	list-style-type: none;
	padding-right: 5%;
}
.header_menu li a{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
	letter-spacing: 3px;
	color: #000;
}
.header_menu li a:hover{
	text-decoration: none;
	background-color: #fff;
	opacity: .6;
	transition: all .3s;
}
.header_menu li a:focus{
	text-decoration: none;
	background-color: #fff;
	opacity: .6;
	transition: all .3s;
}
.menu .fa{
	color: #000;
	font-size: 22px;
}
.social a{
	margin-right: 45px;
	display: inline-block;
}
.menu p{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	display: inline;
}
.menu .icon_menu{
	display: inline;
	margin:0;
}
.photo{
	background-color: #e4e4e2;
	padding-top: 60px;
	padding-bottom: 45px;
}
.thumbnail{
	background-color:#f6f6f6;
	border:0;
	border-radius: 0;
}
.thumbnail:hover{
	opacity: .5;
	transition: all .3s;
}
.main{
	background-color:#e2e2e0;
}
.main .panel-default{
	border:none;
	border-radius: 0;
	background-color: #fff;
	padding: 50px 200px;
	box-sizing: border-box;
}
.main h2{
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 28px;
}
.main p{
	font-size: 18px;
	line-height: 170%;
}
.main .btn{
	border: 1px solid #000;
	border-radius: 0;
	padding: 10px 15px 5px 15px;
	background-color: #000;
	color: #c7c7c7;
	text-transform: uppercase;
	margin-top: 20px;
	letter-spacing: 2px;
}
.main .btn:hover{
	color:#fff;
	background-color: #4f4d4d;
	transition: all .3s;
}
.content{
	background-color: #e4e4e2;
}
.content .panel-default{
	padding:5% 5%;
}
.content .panel-default p{
	font-size: 18px;
}
.content ul{
	padding-left: 25px;
}
.content ul li{
	font-size: 19px;
}
.content img{
	float:left;
	max-width: 100%;
	margin-right: 15px;
	margin-bottom: 15px;
	border: 5px solid #f0f0f0;
}
.content .section1{
	margin-bottom: 25px;
}
.footer{
	padding: 30px 0;
	background-color: #f7f7f7;
}
.footer p{
	font-weight: 500;
	letter-spacing: 3px;	
}

@media only screen and (max-width: 991px) {
  .main .panel-default{
  	padding: 30px;
  }
  .header_menu li{
  	padding-right: 3%;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-default{
  	padding: 20px 0;

  }
  .social a{
  	margin-right: 15px;
  }
  .menu p{
  	padding-right: 30px;
  }
}
@media only screen and (max-width: 665px) {
	.header_menu li{
		font-size: 20px;
	}
	.content img{
		max-width: 40%;
	}
}
@media only screen and (max-width: 627px) {
	.header_menu li{
		display: block;
		font-size: 22px;
		padding-top: 10px;
	}
}
@media only screen and (max-width: 480px) {
	.main .panel-default{
		padding: 15px;
	}
}

/* to 300px 

1200px +
992px +
768px +
480px
320px  */