*{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 22px;
}
.navbar-default{
	padding: 40px 0 40px 0;
	margin-bottom: 0;
	box-sizing: border-box;
	background-color: #f7f7f7;
	border:none;
}
.menu .fa{
	color: #000;
	font-size: 22px;
}
.social a{
	margin-right: 45px;
	display: inline-block;
}
.menu p{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	display: inline;
}
.menu .icon_menu{
	display: inline;
	margin:0;
}
.photo{
	background-color: #e4e4e2;
	padding-top: 60px;
	padding-bottom: 45px;
}
.thumbnail{
	background-color:#f6f6f6;
	border:0;
	border-radius: 0;
}
.thumbnail:hover{
	opacity: .5;
	transition: all .3s;
}
.main{
	background-color:#e2e2e0;
}
.panel-default{
	border:none;
	border-radius: 0;
	background-color: #fff;
	padding: 50px 200px;
	box-sizing: border-box;
}
.main h2{
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 28px;
}
.main p{
	font-size: 18px;
	line-height: 170%;
}
.main .btn{
	border: 1px solid #000;
	border-radius: 0;
	padding: 10px 15px 5px 15px;
	background-color: #000;
	color: #c7c7c7;
	text-transform: uppercase;
	margin-top: 20px;
	letter-spacing: 2px;
}
.main .btn:hover{
	color:#fff;
	background-color: #4f4d4d;
	transition: all .3s;
}
.content{
	background-color: #e4e4e2;
}
.content .panel-default{
	padding:20px 20px;
	margin:0;
}
.content .panel-default p{
font-size: 18px;
}
.content img{
	float:left;
	height: auto;
	max-width: 100%;
	display: block;
	margin-right: 15px;
	border: 5px solid #f0f0f0;
}
.content .section1{
	margin-bottom: 25px;
}